<h2>Medicine Sub Category list</h2>
<button type="button" class="btn btn-primary">Primary</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>category_id</th>
            <th>sub_category_name</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let medici of medicineSubCa">
            <td> {{medici.id}} </td>
            <td> {{medici.category_id}} </td>
            <td> {{medici.sub_category_name}} </td>
            
        </tr>
    </tbody>

</table>
